<app-header [navigationLinks]="navigationLinks" [logoLink]="logoLink" />

<div class="container mt-5">
  <div class="row justify-content-between main-container">
    <div class="col-md-6">
      <div class="card">
        <div class="card-body text-center">
          <h4 class="card-title">Admin Actions</h4>
          <p class="card-text">Welcome, Admin! Use the buttons below to perform various actions:</p>
          <div class="btn-group mt-3 col-md-6 w-100 flex-column" role="group">
            <button routerLink="/adminMainPage/patients" type="button" class="btn btn-primary mb-2">Check Patients</button>
            <button routerLink="/adminMainPage/doctors" type="button" class="btn btn-primary mb-2">Check Doctors</button>
            <button routerLink="/adminMainPage/medications" type="button" class="btn btn-primary mb-2">Check Medications</button>
          </div>
        </div>
      </div>
      <div class="mt-3 card">
        <div class="card-body text-center">
          <h5 class="card-title">Statistics</h5>
          <div class="card-text">
            <p>Total Patients: {{usersAmount}}</p>
            <p>Total Doctors: {{doctorsAmount}}</p>
            <p>Total Medications: {{medicationsAmount}}</p>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-5">
      <div class="mt-3">
        <img src="/assets/images/admin-page-hospital.png" alt="Placeholder Image" class="w-100">
      </div>
    </div>
  </div>
</div>
