
<div class="container mt-5 medications-container"
*ngIf="patientMedicalCardId !== 1">
  <h2 class="text-center">Add medications to medical card</h2>

  <div class="row">
    <!-- Колонка для карточек -->
    <div class="col-md-12">
      <div class="d-flex flex-column align-items-center justify-content-center">
        <div class="mb-4">
          <input [(ngModel)]="inputValue" type="text" class="form-control" placeholder="Search Medications">
        </div>
        <div class="col-md-12 mb-4 cards-container d-flex flex-column">
          <div class="card mb-4 medication-card cursor"
               *ngFor="let medication of (medications | filterMedications: inputValue | sliceArray: currentButtonNumber: step)"
               (click)="onSelectedMedications(medication.medicationId, medicationDiv)" #medicationDiv
               [ngClass]="{'selectedMedication': patientMedicationIdList.includes(medication.medicationId)}"
          >
            <div class="card-body">
              <h5 class="card-title h4">{{medication.medicationName}}</h5>
              <p class="card-text">Description: {{medication.description}}</p>
            </div>
          </div>
        </div>
        <div class="btn-group mt-2 col-md-12 w-100 d-flex justify-content-center" role="group"
        *ngIf="buttonsAmount > 1">
          <button *ngFor="let number of getButtonsArray()"
                  (click)="setCurrentButtonNumber(number + 1)"
                  type="button" class="btn btn-primary btn-sm mx-1 page-button">{{number}}
          </button>
        </div>
      </div>
    </div>
  </div>
  <div>
    <button class="btn btn-success mx-auto col-md-12 mt-4"
            (click)="onSubmitMedicationRelationship()"
    >
      Set medications
    </button>
  </div>
</div>

