<app-header [navigationLinks]="navigationLinks" [logoLink]="logoLink" />

<!-- Main Content -->
<main class="container my-4 text-center">
  <div class="row">
    <!-- Sidebar with Title and Subtitle -->
    <div class="col-md-4 d-flex flex-column justify-content-around align-items-center">
      <div>
        <h1 class="font-weight-bold">Health Care Hospital</h1>
        <h4 class="h4">Empowering Wellness, Enriching Lives: Your Trusted Partner in Health at Health Care Hospital</h4>
      </div>

      <a routerLink="/register" class="btn btn-lg w-50 btn-primary">Register</a>
    </div>

    <div class="col-md-8">
      <img src="/assets/images/hospital.png" alt="Hospital Image" class="img-fluid">
    </div>
  </div>
</main>

