<h2>Doctor Controller</h2>
<h4>You can add or update doctors in columns below:</h4>
<form #form="ngForm" (submit)="onSubmit(form)">
  <!--  <input type="hidden" name="patientId" [value]="patientService.formData.patientId">-->
  <div class="row d-flex flex-column">
    <div class="mb-3 col-12">
      <label>Doctor Name</label>
        <input class="form-control form-control-lg w-100" placeholder="Enter a doctor name" required
               #doctorName="ngModel" [(ngModel)]="currentDoctor.name" name="doctorName">
    </div>
    <div class="mb-3 col-12">
      <label>Doctor Specialization</label>
        <input class="form-control form-control-lg" placeholder="Enter a doctor specialization" required
               #doctorSpecialization="ngModel" [(ngModel)]="currentDoctor.specialization" name="doctorSpecialization">
    </div>
  </div>
  <div class="d-grid">
    <input class="btn btn-lg btn-success mb-2" type="submit" value="Submit">
    <input class="btn btn-lg btn-danger" value="Delete" (click)="onDeleteDoctor(form)">
  </div>
</form>



