.user-doctors-container{
  height: 768px;
}
.doctor-card-container{
  cursor: pointer;
  transition: 0.2s ease all;
}
.green-border{
  border-color: green;
}
.page-button{
  flex: none;
  width: 50px;
  font-size: 24px;
}
